name: Build and Deploy to Docker Hub

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/wine-quality-predict"
          docker build -t $IMAGE_NAME:latest .

      - name: Tag image with commit SHA
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/wine-quality-predict"
          docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ github.sha }}

      - name: Push Docker images
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/wine-quality-predict"
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}
